<div class="card">
  <div class="card-body">
    @if ((messageService.messageThread$ | async)) { @if
    ((messageService.messageThread$ | async)!.length === 0) {
    <p>No messages yet... say hi by using the message box below</p>
    } @else if ((messageService.messageThread$ | async)!.length > 0 ){
    <ul class="chat">
      @for (message of (messageService.messageThread$ | async); track $index) {
      <li>
        <div style="display: flex; justify-items: center; align-items: center">
          <span class="chat-img float-right">
            <img
              src="{{ message.senderPhotoUrl || './assets/usre.png' }}"
              alt="{{ message.senderUsername }}"
              class="rounded-circle"
              style="margin-right: 10px"
            />
          </span>
          <div class="chat-body">
            <div class="header">
              <small class="">
                <span class="" style="color: rgba(255, 255, 255, 0.318)">{{
                  message.messageSent | date : "hh:mm a"
                }}</span>
                @if(!message.dateRead && message.senderUsername !== username) {
                <span style="color: #dbc54a9c"> (undread) </span>
                } @if(message.dateRead && message.senderUsername !== username) {
                <span style="color: rgba(255, 255, 255, 0.318)">
                  (read {{ message.dateRead | timeago }})
                </span>
                }
              </small>
            </div>
            <p>{{ message.content }}</p>
          </div>
        </div>
      </li>
      }
    </ul>
    } }
  </div>

  <div class="card-footer">
    <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
      <div class="input-group">
        <input
          type="text"
          class="form-control input-sm"
          placeholder="Send a PM"
          name="messageContent"
          required
          [(ngModel)]="messageContent"
        />
        <div class="input-group-append">
          <button
            [disabled]="!messageForm.valid"
            class="btn btn-primary"
            type="submit"
          >
            Send
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
